@model IEnumerable<RpgBuilderMvc.Domain.Entities.Weapon>

<h1>Weapons</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Damage</th>
            <th>Weight</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var w in Model)
    {
        <tr>
            <td>@w.Name</td>
            <td>@w.Price</td>
            <td>@w.Damage</td>
            <td>@w.Weight</td>
            <td>@w.Properties</td>
        </tr>
    }
    </tbody>
</table>